snippet business_angebot
	Angebot: ...
	unverbindlich / lieferung verbehalten
snippet test
	A\${1}
snippet rand
	R`rand()`
snippet vb
	{{{ $1
	{VISUAL}
	}}}

snippet 5p
	[ ] $1
	[ ] $2
	[ ] $3
	[ ] $4
	[ ] $5
