snippet css_external_file
	<link rel="stylesheet" type="text/css" href="css/content.css"/>
snippet file
	<input name="<++>" type="file" maxlength="100000" accept="text/*"/>
snippet form
	<form action="." method="post" enctype="multipart/form-data">
	</form>
snippet nocache
	[% set paste %]<meta http-equiv="Pragma" content="no-cache"/>
snippet script_js_external_file
	<script src="<++>" type="text/javascript"></script>
snippet script_js_1_7_external_file
	<script src="<++>" type="application/x-javascript;version=1.7"></script>
snippet script_firebug
	<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>

snippets script_js_1_7_mozilla_only
        <script type="application/x-javascript;version=1.7">
          let is new
	</script>
snippet script_js
	<script type="text/javascript" charset="utf-8">
	 //<![CDATA[
	 $1
	 //]]>
	</script>
snippet submit
	<input type="submit" name="<++>" value="<++>" />
snippet swf
	<object
		classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
		codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
		width="400"
		height="300"
		id="myFlashObject"
	>
		<param name="movie" value="${1:path}"/>
		<param name="allowScriptAccess" value="always" />
		<param name="quality" value="high" />
		<param name="salign" value="lt" />
		<param name="scale" value="noscale" />
		<param name="menu" value="false" />
		<param name="bgcolor" value="#ffffff"/>
		<embed
	 src="$1"
	 quality="high"
	 salign="lt"
	 width="400"
	 height="300"
	 align="middle"
	 scale="noscale"
	 menu="false"
	 bgcolor="#ffffff"
	 name="myFlashObject"
	 swLiveConnect="true"
	 allowScriptAccess="always"
	 type="application/x-shockwave-flash"
	 pluginspage="http://www.macromedia.com/go/getflashplayer"
		/>
	</object>
snippet h2
	<h2>{VISUAL}</h2>
snippet script_jquery
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
