snippet ziparchive_create
	$z = new ZipArchive();
	$z->open('zip.zip', ZIPARCHIVE::CREATE);
	$z->addFromString('abc.txt','text');
	$z->close();
snippet html_form
			<form action="<?=$GLOBALS['SCRIPT_NAME']?>" method="post" enctype="multipart/form-data">
	</form>
snippet html
snippet htmlToUtf8
	function htmlToUtf8($s){
		$e='asdlkfjasdflkjdfasjkjkljkljkljkl';
		$s = str_replace('&nbsp;',$e, $s);
		$s = str_replace('&lt;',$e.'lt', $s);
		$s = str_replace('&gt;',$e.'gt', $s);
		$s = html_entity_decode($s,  ENT_NOQUOTES, 'UTF-8');
		$s = str_replace($e.'lt', '&lt;', $s);
		$s = str_replace($e.'gt', '&gt;', $s);
		return  str_replace($e, '&nbsp;', $s);
	}
snippet args
	$args = func_get_args();
snippet tne
	throw new Exception(${1});
snippet fen
	foreach ($${1:variable} as $${2:value}) {
		${3:// code...}
	}
snippet fek
	foreach ($${1:variable} as $${2:key} => $${3:value}) {
		${4:// code...}
	}
snippet __call
	public function __call($name, $arguments) {
	}
snippet __construct
	function __construct(argument){
	}
snippet ve
	var_export(${1}, true)
snippet ga
	$args = func_get_args();
snippet trace
	$debug_handle = fopen('/tmp/php.log', 'a+');
	fwrite($debug_handle, var_export(${1},true)."\n" );
	fclose($debug_handle);
snippet entferne_boms
	<?php
	
	function has_bom($file){
			$packed = pack("CCC",0xef,0xbb,0xbf);
	
			$handle = fopen($file,'r');
			if (!$handle){
					echo "error opening ".$file."\n";
			} else {
					$str = fread ( $handle, 3);
					if ($str == $packed)
							$has_bom = true;
					fclose($handle);
			}
			return isset($has_bom);
	}
	
	function find_files($path, $pattern, $callback) {
		$path = rtrim(str_replace("\\", "/", $path), '/') . '/';
		$matches = Array();
		$entries = Array();
		$dir = dir($path);
		while (false !== ($entry = $dir->read())) {
			$entries[] = $entry;
		}
		$dir->close();
		foreach ($entries as $entry) {
			$fullname = $path . $entry;
			if ($entry != '.' && $entry != '..' && is_dir($fullname)) {
				find_files($fullname, $pattern, $callback);
			} else if (is_file($fullname) && preg_match($pattern, $entry)) {
				call_user_func($callback, $fullname);
			}
		}
	}
	
	$files = array();
	function c($name){
			global $files;
			$files[] = $name;
	}
	
	find_files('.', '/\.(php|css|htm)/', 'c');
	
	foreach ($files
			as $file){
			if (has_bom($file)){
				file_put_contents($file, substr(file_get_contents($file), 3));
				echo "$file hat BOM gehabt!\n";
			}
	}
snippet pc
	public 

snippet swfHTML
	function swfHTML($alternative_content, $id ='', $path, $w, $h, $params = array(), $flashVars = array()){
	
	 // mit z-index wie DOM Element
	 if (!isset($params['wmode']))
		$params['wmode'] = 'transparent';
	
	 if (count($flashVars) > 0){
		foreach ($flashVars as $k => $v) {
		 $fv[] = $k.'='.urlencode($v);
		}
		$params['flashVars'] = implode($fv, '&');
	 }
	
	 $is_ie = strpos( $_SERVER["HTTP_USER_AGENT"], 'MSIE'  ) !== false;
	 $html = '';
	
	 if ($is_ie) {
		$html .= 
		'<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  id="'.$id.'"'
		.'  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"'
		.'  width="'.$w.'" height="'.$h.'">'
		.'<param name="movie" value="'.$path.'"/>'
		;
	 } else {
		$html .= 
		 '<object type="application/x-shockwave-flash" id="'.$id.'"'
		 .' data="'.$path.'" width="'.$w.'" height="'.$h.'">';
	 }
	
	 foreach ($params as $k => $v){
		$html .= '<param name="'._htmlentities($k).'" value="'._htmlentities($v).'"/>';
	 }
	
	 $html .= $alternative_content
		.'</object>';
	
	 return $html;
	}

snippet _htmlentities
	function _htmlentities($s){
		return htmlentities($s, ENT_QUOTES, "UTF-8" );
	}
snippet conditional_get
	function conditionalGET($timestamp) {
		$last_modified = gmdate("D, d M Y H:i:s \G\M\T", $timestamp);
		$etag = '"'.md5($last_modified).'"';
		header("Last-Modified: $last_modified");
		header("ETag: $etag");
		$if_modified_since = isset($_SERVER['HTTP_IF_MODIFIED_SINCE']) ? stripslashes($_SERVER['HTTP_IF_MODIFIED_SINCE']) : false;
		$if_none_match = isset($_SERVER['HTTP_IF_NONE_MATCH']) ? stripslashes($_SERVER['HTTP_IF_NONE_MATCH']) : false;
		if(!$if_modified_since && !$if_none_match) return;
		if($if_none_match && $if_none_match != $etag) return;
		if($if_modified_since && $if_modified_since != $last_modified) return;
		header("HTTP/1.0 304 Not Modified");
		exit;
	}
snippet ROOT_URL
	// get root url 
	if (isset($_SERVER["HTTPS"])) {	
		if($_SERVER["HTTPS"] == "on") {
			$self_protocol = "https://";
		} else {
			$self_protocol = "http://"; 
		}
	} else {	
		$self_protocol = "http://"; 
	}
	$this_url = $self_protocol . $_SERVER["SERVER_NAME"] . $_SERVER["SCRIPT_NAME"];
	define('ROOT_URL', dirname($this_url)); 
snippet autoload_classes_simple
	function autload_class($class){
		if (in_array($lass , (array('parent')))) return false;
		$f = LIB_PATH.'/klassen/'.$class.'.php';
		if (file_exists($f)){
			require_once $f;
			return true;
		}
		return false;
	}
	spl_autoload_register('autload_class');

snippet validate_xml
	function validateXML($xml){
		if (!VALIDATE_XML)
			return $xml;
	
		libxml_use_internal_errors(true);
	
		// TODO use doctype?
		$doc = new DOMDocument('1.0', 'utf-8');
		$doc->loadXML($xml);
	
		$errors = libxml_get_errors();
		if (empty($errors))
		{
			return $xml;
		}


		$error_lines = '';

		foreach ($errors as $error) {

			if ($error->level <= 2) // not defined entitiy ..
				continue;

		# if $error->message
		
		# if ($error->level < 3)
		# {
		#       return $xml;
		# }

			$lines = explode("\n",$xml);
			$xmls = $error->message.' '.$error->level."\n";
			$el = $error->line;
			for ($i = -7; $i < 5; $i++) {
				$l = $el + $i - 3;
				if ($i >= 0 && $i < count($lines))
					$xmls .= ($l+1).': '.g($lines,$l,'')."\n";
			}

			$error_lines .= "\n".$xmls."\n";
		}

		if ($error_lines != '')
			// should only print relevant lines..
			throw new Exception("error validating XML line ".$el." xml:\n".$error_lines);
	}
snippet strip_slashes
	if (get_magic_quotes_gpc()) {
		function strip_slashes_deep($value) {
				return is_array($value) ? array_map('strip_slashes_deep', $value) : stripslashes($value);
		};
		$_GET = array_map('strip_slashes_deep', $_GET);
		$_POST = array_map('strip_slashes_deep', $_POST);
		$_COOKIE = array_map('strip_slashes_deep', $_COOKIE);
	}
snippet file_locking
		@fopen($this->_file, "wb")
		@flock($fp, LOCK_EX);
		@fwrite($fp, $data, $len);
		@flock($fp, LOCK_UN);
		@fclose($fp);

snippet d
	function d($ar, $key, $default){ return isset($ar[$key]) ? $ar[$key] : $default; }



snippet wordpress_nonce_security
	if ( function_exists('wp_nonce_field') )
		wp_nonce_field('plugin-name-action_' . $your_object);
	?>

	$link = 'your-url.php';
	$link = ( function_exists('wp_nonce_url') ) ? wp_nonce_url($link, 'plugin-name-action_' . $your_object) : $link;

	check_admin_referer('plugin-name-action_' . $your_object);

snippet redirect
	function redirect($code, $url, $close = false){
		$x = array(
			301 => 'Moved Permantenly',
			302 => 'Moved Temporarily',
		);
		$t = $x[$code];
		header("HTTP/1.1 $code $t");
		header("location: $url");
		if ($close)
			header("Connection: close");
	}
snippet gettext_setup
	$directory = dirname(__FILE__).'/lib/locale';
	$domain = 'webseite';
	$locale ="de_DE.UTF-8";
	
	//putenv("LANG=".$locale); //not needed for my tests, but people say it's useful for windows
	setlocale( LC_MESSAGES, $locale);
	bindtextdomain($domain, $directory);
	textdomain($domain);
	bind_textdomain_codeset($domain, 'UTF-8');
snippet memory_limit_increase
	ini_set('memory_limit', '2048M');
snippet zendtextarea
	${1:var} = new Zend_Form_Element_Textarea
snippet include_emulation_minimal
	<?php
	/*
	.htaccess
	DirectoryIndex index.shtml
	
	RewriteEngine On
	RewriteBase /PATH
	RewriteRule ^(.*\.shtml)$ include_emulation_php.php?file=$1 [L]
	
	$base = dirname($_GET['file']);
	*/
	
	function include_virtual($x){
		global $base;
		return file_get_contents($base.'/'.$x[1]);
	}
	echo preg_replace_callback(
		'/<!--#include virtual="([^"]*)" -->/',
		'include_virtual',
		file_get_contents($_GET['file'])
	);
snippet 1
	${1:} => ${2:{$1}}
snippet 2
	let(:${1:}) do
		Factory.create(:${2:$1})
	end
snippet limits
	ini_set("memory_limit", "1000M") ; 
	set_time_limit(60*60);

snippet downloadFile

	function downloadFile( $fullPath, $name = '' ){

		if ($name == '')
			$name = basename($fullPath);

		// Must be fresh start
		if( headers_sent() )
			die('Headers Sent');

		// Required for some browsers
		if(ini_get('zlib.output_compression'))
			ini_set('zlib.output_compression', 'Off');

		// File Exists?
		if( file_exists($fullPath) ){

			// Parse Info / Get Extension
			$fsize = filesize($fullPath);
			$path_parts = pathinfo($name);
			$ext = strtolower($path_parts["PATHINFO_EXTENSION"]);

			// Determine Content Type
			switch ($ext) {
				case "pdf": $ctype="application/pdf"; break;
				case "exe": $ctype="application/octet-stream"; break;
				case "zip": $ctype="application/zip"; break;
				case "doc": $ctype="application/msword"; break;
				case "xls": $ctype="application/vnd.ms-excel"; break;
				case "ppt": $ctype="application/vnd.ms-powerpoint"; break;
				case "gif": $ctype="image/gif"; break;
				case "png": $ctype="image/png"; break;
				case "jpeg":
				case "jpg": $ctype="image/jpg"; break;
				default: $ctype="application/force-download";
			}

			header("Pragma: public"); // required
			header("Expires: 0");
			header("Cache-Control: must-revalidate, post-check=0, pre-check=0");
			header("Cache-Control: private",false); // required for certain browsers
			header("Content-Type: $ctype");
			header("Content-Disposition: attachment; filename=\"".$name."\";" );
			header("Content-Transfer-Encoding: binary");
			header("Content-Length: ".$fsize);
			ob_clean();
			flush();
			readfile( $fullPath );

		} else
			throw new Exception("File $fullPath Not Found");

	} 


snippet mysqli_insert
	$sql = 'INSERT INTO .';
	$eintrag = $db->prepare( $sql );
	$eintrag->bind_param( 'ss', $name, $bereich );
	$eintrag->execute();

snippet eur_replace_pdf

	function pdf_eur_replace($s){
		return str_replace(chr(191),chr(128),$s);
	}
	
	function utf8_decode_pdf($s){
		return preg_replace_callback('/([^€]+)|([€]+)/', function($m){
			return (empty($m[1])) ? chr(128) : utf8_decode($m[1]);
		}, $s);
	}
snippet fpdf_ext
	function CellO($o){
			// same as Cell, but takes array as argument so that you can merge easily
			$this->Cell(
		d($o, 'w', 0),
		d($o, 'h', 0),
		d($o, 'txt', ''),
		d($o, 'border', '1'),
		d($o, 'ln', '0'),
		d($o, 'align', ''),
		d($o, 'fill', 0),
		d($o, 'link', '')
			);
	}
	
	/* renders multiple rows from left to right. If the width of the page is not sufficient
		* rendering continues in a new set of rows below.
		*
		* layout: 
		*    // font-size
		*    col-header-options: array(....)
		*    col-options: array(....)
		*    row-height:
		*/
	function renderTableFromLeftToRight($rows_of_cols_headers, $rows_of_cols, $layout){
			/* noch genug Platz fuer eine Zeile?*/
	
			$this->font('klein');
	
			$row_height = $layout['row-height'];
			$cols_total = count($rows_of_cols[0]);
	
			// $this->h - $this->y < 
			$required_height = $row_height * count($rows_of_cols_headers);
	
			while (count($rows_of_cols[0]) > 0){
		// es gibt noch Zellen zum ausgeben
		// gibts auf dieser Seite noch genug Platz fuer alle Rows?
	
		if (d($layout, 'page-break', false) && ($required_height > $this->h - $this->bMargin - $this->y)){
				// try new page
				$this->AddPage();
				if (! $required_height > $this->h - $this->bMargin - $this->y){
			throw new Exception(eval($c));
			throw new PDFOutOfPageSpaceException('Even on a new page there is not enough space to render the grid');
				}
		}
	
		// foreach Row
		for ($i = 0; $i < count($rows_of_cols_headers); $i++) {
				$header_row = $rows_of_cols_headers[$i];
				$data_row =& $rows_of_cols[$i];
	
				// render col headers
				$this->SetX($this->lMargin);
				for ($j = 0; $j < count($rows_of_cols_headers[0]); $j++) {
			$o = $layout['col-header-options'][$j];
			$o['h'] = $row_height;
			$o['txt'] = $header_row[$j];
			$this->CellO($o);
				}
				$this->Cell(1, $row_height, '', 1);
	
				// render as much data as fits on the page to the right, drop cells from array until done
				$j = 0;
				while (count($data_row) > 0) {
			$col_idx = $cols_total - count($data_row);
			$cw = $layout['col-options'][$col_idx]['w'];
			if ($this->x + $cw > $this->w - $this->rMargin){
					if ($j == 0) throw PDFOutOfPageSpaceException('something is wrong, couldnt render single col idx '.$col_idx);
					break;
			}
	
			$o = $layout['col-options'][$j];
			$o['h'] = $row_height;
			$o['txt'] = array_shift($data_row);
			$this->CellO($o);
	
			$j += 1;
				}
				$this->SetY($this->GetY() + $row_height);
		}
	
		// some spacing if not all cells fit on these lines
		if (count($rows_of_cols[0]) > 0)
				$this->Ln();
			}
	}

snippet microtime_bench_start
	define('MICROTIME_START',microtime(true));

snippet microtime_bench
	$debug_handle = fopen('/tmp/php.log', 'a+');
	fwrite($debug_handle, var_export("${1} ".(microtime(true) - MICROTIME_START),true)."\n");
	fclose($debug_handle);
snippet finde_segfault_lines
	<?php
	
	$sec_tollerance = 1;
	
	$segfault_lines = '
	Aug 22 00:00:18 webkos kernel: php-cgi[21750]: segfault at 7ffff68dbfe8 ip 00000000005d8fae sp 00007ffff68dbf90 error 6 in php-cgi[400000+2fe000]
	Aug 22 01:00:17 webkos kernel: php-cgi[22804]: segfault at 7fff961aafdc ip 00000000005d467a sp 00007fff961aafb0 error 6 in php-cgi[400000+2fe000]
	';
	
	$dates = array();
	
	$by_url = array();
	$by_url_kunde = array();
	
	foreach (explode("\n", $segfault_lines) as $l) {
		if (!preg_match('/Aug ([^ ]*) ([^ ]*)/', $l, $m)){
				echo "skipping $l\n";
				continue;
		} else {
			$date = $m[1].'.8.2012 '.$m[2];
			# print $date."\n";
			$parsed = strtotime($date);
			$dates[] = $parsed;
			# print date('d.m.Y H:i:s', $parsed)."\n";
		}
	}
	
	foreach(glob('var/www/vhosts/*/statistics/logs/access_log') as $file){
		# if ($file != 'var/www/vhosts/alberttravel.com/statistics/logs/access_log')
		#    continue;
		echo "reading $file\n";
		foreach (explode("\n", file_get_contents($file)) as $l) {
			if ($l == "") continue;
			if ($l == " ") continue;
			if (!(preg_match('/([^ ]*) - - \[([^\]]*) \+0200\] "(GET|POST|OPTIONS|HEAD) ([^ ]+) ([^"]*)".*$/', $l, $m))){
			/*                ^IP           ^ date    ^method    ^ URL
			 */
				echo "skipping line $l found at $file\n";
			} else {
				$date_s = $m[2];
				$method = $m[3];
				$url = $m[4];
	
				list ($date, $h, $min, $s) = explode(":", $date_s);
				list ($day, $month, $year) = explode("/", $date);
				$date_s = "$day.08.$year $h:$min:$s";
				$parsed = strtotime($date_s);
	
				# $url = preg_replace('/(&[^&]*)&.*/','\1', $url);
				
				foreach ($dates as $d){
					if ($d >= $parsed && $parsed >= $d - $sec_tollerance){
	
						if (!isset($by_url[$url]))
							$by_url[$url] = 1;
						else
							$by_url[$url]++;
	
	
						if (!isset($by_url_kunde[$file.'|'.$url])){
							$by_url_kunde[$file.'|'.$url] = 1;
						}else{
							$by_url_kunde[$file.'|'.$url]++;
						}
					
						break;
					}
				}
			}
		}
	}
	
	// $by_url_kunde = array_flip($by_url_kunde);
	// $by_url = array_flip($by_url);
	
	echo "by url kunde\n";
	foreach ($by_url_kunde as $key => $value) {
		echo "$key $value\n";
	}
	
	echo "by url \n";
	foreach ($by_url as $key => $value) {
		echo "$key $value\n";
	}

snippet google_lat_lon
	function google_lat_lon($addr){
		$url = 'http://maps.google.com/maps/api/geocode/json?address='.urlencode($addr).'&sensor=false&region=de';
		$a = file_get_contents($url);
		$addr_info = json_decode($a, true);
		if (!isset($addr_info['results'][0]['geometry']['location']))
			return array('lat' => null, 'lon' => null);
		$ai = $addr_info['results'][0]['geometry']['location'];
		return array('lat' => $ai['lat'], 'lon' => $ai['lng']);
	}
	
	function lat_lon_distance_km($a, $b) { 
		$lat1 = $a['lat'];
		$lon1 = $a['lon'];
		$lat2 = $b['lat'];
		$lon2 = $b['lon'];
	
		$theta = $lon1 - $lon2; 
		$dist = sin(deg2rad($lat1)) * sin(deg2rad($lat2)) +  cos(deg2rad($lat1)) * cos(deg2rad($lat2)) * cos(deg2rad($theta)); 
		$dist = acos($dist); 
		$dist = rad2deg($dist); 
		return $dist * 60 * 1.85316;
	}
snippet spf
	static public function ${1}(${2}){
		${3}
	}
snippet g
	global $
