snippet documentclasses
	\documentclass[a4paper,12pt,twoside]{book}
	\usepackage[english]{babel}
	\usepackage[utf8]{inputenc}

	\documentclass{article}


snippet document
	\documentclass[a4paper,12pt,twoside]{book}
	\usepackage[english]{babel}
	\usepackage[utf8]{inputenc}
	 
	\pagestyle{headings}
	 
	\begin{document}
	\chapter{Sample Chapter}
	\section{New section}
	 
	Hello, here is some text without a meaning.  This text should 
	show what a printed text will look like at this place.  If you 
	read this text, you will get no information.  Really?  Is there 
	no information?  Is there a difference between this text and some 
	nonsense like ``Huardest gefburn?  Kjift " not at all!...
	 
	\end{document}


snippet enumerate
	\begin{enumerate}
	\item The first item
	\begin{enumerate}
	\item Nested item 1
	\item Nested item 2
	\end{enumerate}
	\item The second item
	\item The third etc \ldots
	\end{enumerate}

snippet en
	\begin{enumerate}
	${1}
	\end{enumerate}

snippet it
	\item $1
